.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  padding-top: 7rem;
  min-height: 100vh;
  text-align: center;
  color: rgb(226 232 240);
}
